doctype html
html(lang="en")

  head
    include ../common/meta
    title Sn0wFox - 404
    include ../common/imports

  body
    section#snfx-404
      .container
        .row
          .col-lg-8.col-lg-offset-2
            h1 Oops!
              h2 Looks like you get lost in the snow.
              br
              h4 Fortunately, you can retrace your steps to your previous location,
                |  or simply return to the home page by clicking on the following button.
              br
              a.btn.btn-primary.btn-lg#snfx-btn-home(href="http://sn0wfox.com")
                span.glyphicon.icon-sn0wfox(aria-hidden="true")
                  |  Home