// Footer
footer.page-footer

  // Contact me
  .contact#snfx-contact
    .container
      h2.section-heading Contact Me
      p
        span.glyphicon.icon-github
        br
        a(href="https://github.com/Sn0wFox" target="_blank") https://github.com/Sn0wFox
      p#snfx-mailto
        span.glyphicon.glyphicon-envelope
        br
        a(href="") Click to open mailto link (encrypted, spam proof)
      p
        span.glyphicon.icon-linkedin
        br
        a(href="https://www.linkedin.com/in/ruben-p%C3%A9ricas-moya/" target="_blank") https://www.linkedin.com/in/ruben-p&eacute;ricas-moya
      p
        span.glyphicon.glyphicon-earphone
        br
        | Ask for my phone by email :)

  // Copyright etc
  .small-print
    .container
      p Copyright &copy; Ruben P&eacute;ricas-Moya 2017