// Vendor js
script(src="/vendor.js")

// Custom css
link(href="index.css" rel="stylesheet")

// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
// WARNING: Respond.js doesn't work if you view the page via file://
<!--[if lt IE 9]>
  script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
  script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
<![endif]-->

// Custom fonts from Google
link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css')