doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    // Right favicon for the right device. Hell yeah: https://realfavicongenerator.net
    meta(name="msapplication-config" content="images/browserconfig.xml")
    meta(name="theme-color" content="#ffffff")
    link(rel="apple-touch-icon" sizes="180x180" href="../assets/images/apple-touch-icon.png")
    link(rel="icon" type="image/png" href="../assets/images/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="../assets/images/favicon-16x16.png" sizes="16x16")
    link(rel="manifest" href="../assets/images/manifest.json")
    link(rel="mask-icon" href="../assets/images/safari-pinned-tab.svg" color="#5bbad5")
    link(rel="shortcut icon" href="../assets/images/favicon.ico")

    title Sn0wFox - Portfolio

    // Bootstrap Core css
    link(href="../assets/css/bootstrap.min.css" rel="stylesheet")
    // Custom css
    link(href="index.css" rel="stylesheet")

    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    <!--[if lt IE 9])
    script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
    script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
    <![endif]--)

    // Custom fonts from Google
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css')

  body

    // Navigation
    nav#siteNav.navbar.navbar-default.navbar-fixed-top(role="navigation")
      .container
        // Logo and responsive toggle
        .navbar-header
          button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="..")
            span
              img#snfx-logo(src="../assets/images/logo.png" alt="Sn0wFox logo")
              |  Sn0wFox
        // Navbar links
        .collapse.navbar-collapse#navbar
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href="#snfx-portfolio-header") Intro
            li
              a(href="#snfx-portfolio-current") Current
            li
              a(href="#snfx-portfolio-sbt") Older
            li
              a(href="#snfx-portfolio-student") Student
            li
              a(href="#snfx-contact") Contact

    // Header
    header#snfx-portfolio-header
      .header-content
        .header-content-inner
          blockquote
            h2 All that coding stuff looks awesome !
              br
              | I should learn that.
            footer Younger me
          p.complementary-text And so did I.
            br
            | I learnt a big part of my skills by myself. The rest comes from my schooling.
          a.btn.btn-primary.btn-lg#snfx-btn-chekit(href="#snfx-portfolio-current") Check it out

    // Manmanga
    section.content#snfx-portfolio-current
      .container
        .row
          .col-sm-6
            img.img-responsive.img-circle.center-block(src="../assets/images/manmanga.jpg" alt="")
          .col-sm-6.text-center
            h2.section-header ManManga
            p.lead.text-muted.text-justify ManManga is a dedicated <strong>search engine</strong> for manga and anime.
              |  It uses the power of <strong>semantic web</strong> to retrieve relevant content.
              | In the future, the goal is not only to retrieve manga, anime or characters
              | by keywords, but also to
              em  infer
              |  and find related content, thanks to similarity matrices and semantic web.
            a.btn.btn-primary.btn-lg(href="https://github.com/Sn0wFox/manmanga", target="_blank")
              span.glyphicon.icon-github(aria-hidden="true")
              |  GitHub
          .col-sm-12
            p.lead.text-muted.text-center.complementary-text As my most recent work,
              |  ManManga is still in development. This means that it's not deployed anywhere
              | at the moment. However, I plan to deploy some alpha releases in a not so far future.
              | if you're interested in, stay tuned!
            p.lead.text-muted.text-center ManManga is built using
              strong  Node.js, Typescript, Gulp, Angular2, Materialize, Pug, Sass, Webpack, Jasmine, Karma, Travis CI
              |  and some other cool Node packages. In a future release, it will also relies on some&nbsp;
              a(href="https://github.com/Sn0wFox/indexden-client", target="_blank") other projects of mine
              |  to avoid relying on Google.

    // SBT internship
    section.content.content-2#snfx-portfolio-sbt
      .container
        .row
          .col-sm-6.text-center
            h2.section-header My last Summer Internship
            p.lead.text-light.text-justify In summer 2016, I worked as an intern at&nbsp;
              a(href="http://www.sbt.fr/", target="_blank")
                strong SBT
                  sup &reg;
              |  in France as a
              strong  Web Developper
              | . As part of a great team, I had two missions:
            #accordion.panel-group(role='tablist', aria-multiselectable='true')
              .panel.panel-default
                #snfx-small-one.panel-heading(role='tab')
                  h4.panel-title
                    a(role='button', data-toggle='collapse', data-parent='#accordion', href='#snfx-collapse-one', aria-expanded='false', aria-controls='snfx-collapse-one')
                      | The side one
                #snfx-collapse-one.panel-collapse.collapse(role='tabpanel', aria-labelledby='snfx-small-one')
                  .panel-body
                    h3 Banking company website
                    p.text-justify First I developed a simple
                      strong
                        em  gamified
                      |  website for a banking company - using Materialize.css and a small MySql database -
                      | to help costumers to find some resources.
                      | I then deployed it in production under a Node.js server.
                      br
                      | The website is currently tested on 10.000 people.
                      br
                    a.btn.btn-primary.btn-lg.complementary-text(href="http://natixisinterepargne-silvousplay.symetrix.fr/" target="_blank") View my work
              .panel.panel-default
                #snfx-big-one.panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#snfx-collapse-two', aria-expanded='false', aria-controls='snfx-collapse-two')
                      | The main one
                #snfx-collapse-two.panel-collapse.collapse(role='tabpanel', aria-labelledby='snfx-big-one')
                  .panel-body
                    h3 Management platform
                    p.text-justify My biggest task was to develop the&nbsp;
                      abbr.initialism(title="Proof of Concept") POC
                      |  of an
                      strong  extremely modular
                      |  web platform, dedicated to team management.
                      | I had to integrate several
                      strong  third party web services (using REST APIs)
                      |  such as LinkedIn, Moodle, YouTube and an Elastic Search server.
                      | I used Angular2 (beta) framework for the front-side
                      | as well as a MySQL server and a Node.JS server as backend,
                      | and deployed it.
                    p.text-justify I also had the occasion to
                      strong  configure and deploy a CAS server
                      |  by myself - although supported by the network administrator -
                      | which is something i'm really proud about.
                    p.text-justify Unfortunately, this is a private work of the company I worked for,
                      |  so I can not provide the source code nor a screenshot of the result.
          .col-sm-6
            img.img-responsive.img-circle.center-block(src="../assets/images/internship.jpg" alt="")

    // This website
    section.content#snfx-portfolio-snfx
      .container
        .row
          .col-sm-6
            img.img-responsive.img-circle.center-block(src="../assets/images/this.jpg" alt="")
          .col-sm-6.text-center
            h2.section-header This web site
            p.lead.text-muted.text-justify Because hey, I'm proud of the result !
              |  I've built this website to show off my skills in more friendly way
              | than through a resume, and because I wanted to see what I was able to do using Bootstrap.
              | Indeed, all of this website was built using
              strong  Bootstrap and jQuery
              | , as well as
              strong  Typescript, Pug and Sass
              |  to provide a modern web development environment. It's deployed on my own server
              | (well, I rent it) using a simple Apache server.
            p.lead.text-muted.text-justify I have open-sourced the code too, so if you're interested to see it,
              |  just click on the following button.
            a.btn.btn-primary.btn-lg(href="https://github.com/Sn0wFox/sn0wfox.com", target="_blank")
              span.glyphicon.icon-github(aria-hidden="true")
              |  GitHub

    // LRC
    section.content.content-2#snfx-portfolio-lrc
      .container
        .row
          .col-sm-6.text-center
            h2.section-header Lego Robot Challenge
            p.lead.text-light.text-justify In 2013, I decided to participate to a
              strong  team robotic challenge
              |  organized by my school (INSA Lyon, France; a prestigious school here,
              | but unfortunately no so famous to foreigners), with some friends of mine.
            p.lead.text-light.text-justify The goal? The jury gives a succession of tasks that a robot
              |  must accomplish in the shortest time possible. Just after that, all teams have only
              strong  24 hours to entirely build and code the robot
              |  using&nbsp;
              a(href="https://www.lego.com/en-us/mindstorms", target="blank") Mindstorm Legos
              |  and spending all night to do so.
              | We actually won the tournament this year, and we were pretty happy.
          .col-sm-6
            img.img-responsive.img-circle.center-block(src="../assets/images/lrc.jpg" alt="")
          .col-sm-12.text-center
            p.lead.text-ligh.complementary-text I used the C++ library that you'll find by clicking
              |  on the following button. However I'll keep the actual code of the tournament
              | for myself, because I plan to participate again this year (and to win !).
              | Sorry, not sorry, it's for the challenge !
            a.btn.btn-primary.btn-lg(href="https://github.com/Sn0wFox/ev3dev-lang-cpp", target="_blank")
              span.glyphicon.icon-github(aria-hidden="true")
              |  GitHub
            p.lead.text-ligh.complementary-text Also, check out the pre-tournament (training) photos !
              |  (a bit old, I know)

    // LRC pictures
    .container-fluid#snfx-lrc-pictures
      .row.promo
        a(href="../assets/images/lrc0.jpg" data-toggle="modal" data-target="#hack")
          .col-md-4.promo-item.item-1
            h3 Some Maths
        a(href="../assets/images/lrc1.jpg" data-toggle="modal" data-target="#hack2")
          .col-md-4.promo-item.item-2
            h3 The robot
        a(href="../assets/images/lrc2.jpg" data-toggle="modal" data-target="#hack3")
          .col-md-4.promo-item.item-3
            h3 Training

    #imagemodal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog.modal-lg
        .modal-content
          .modal-body
            img#imagepreview(src="")
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close

    // Content 3
    section.content.text-center#snfx-portfolio-student
      .container
        h2.section-header
          span.glyphicon.glyphicon-pushpin
          br
          | Student work
        p.lead.text-muted.text-justify I don't reckon that my scholar project by themselves
          |  are worth mentioning here.
          strong  However
          | , the skills I learned thanks to them are.
        p.lead.text-muted.text-justify Just a reminder: I'm a french Computer Science student,
          |  currently in the 4th year (out of 5) to complete my master in Computer Science Engineering
          | at INSA Lyon (a prestigious school here, unfortunately not so famous for foreigners).
          | I'm studying various topics such as
          strong  Data Mining, A.I., Software engineering & Business Intelligence
          | , which each brings me essential skills and knowledge.
          | Sometimes I also use some programming language with programming paradigms
          | radically different from OOP - which I know well - such as Prolog.
          | I believe that this kind of tool is essential to try for a software engineer,
          | since it force to think
          em  different.
        a.btn.btn-primary.btn-lg(href="http://if.insa-lyon.fr", target="_blank") Check My School

    // Footer
    footer.page-footer

      // Contact me
      .contact#snfx-contact
        .container
          h2.section-heading Contact Me
          p
            span.glyphicon.icon-github
            br
            a(href="https://github.com/Sn0wFox" target="_blank") https://github.com/Sn0wFox
          p
            span.glyphicon.glyphicon-envelope
            br
            | ruben.pericas-moya@insa-lyon.fr
          p
            span.glyphicon.icon-linkedin
            br
            a(href="https://www.linkedin.com/in/ruben-p%C3%A9ricas-moya/" target="_blank") https://www.linkedin.com/in/ruben-p&eacute;ricas-moya
          p
            span.glyphicon.glyphicon-earphone
            br
            | Ask for my phone by email :)

      // Copyright etc
      .small-print
        .container
          p Copyright &copy; Ruben P&eacute;ricas-Moya 2017

    // Scripts
    // Jquery
    script(src="../assets/js/jquery-1.11.3.min.js")

    // Bootstrap Core JavaScript
    script(src="../assets/js/bootstrap.min.js")

    // Plugin JavaScript
    script(src="../assets/js/jquery.easing.min.js")

    // Custom Javascript
    script(src="main.bundle.js")