doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    // Right favicon for the right device. Hell yeah: https://realfavicongenerator.net
    meta(name="msapplication-config" content="images/browserconfig.xml")
    meta(name="theme-color" content="#ffffff")
    link(rel="apple-touch-icon" sizes="180x180" href="../assets/images/apple-touch-icon.png")
    link(rel="icon" type="image/png" href="../assets/images/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="../assets/images/favicon-16x16.png" sizes="16x16")
    link(rel="manifest" href="../assets/images/manifest.json")
    link(rel="mask-icon" href="../assets/images/safari-pinned-tab.svg" color="#5bbad5")
    link(rel="shortcut icon" href="../assets/images/favicon.ico")

    title Sn0wFox.net

    // Bootstrap Core css
    link(href="../assets/css/bootstrap.min.css" rel="stylesheet")
    // Custom css
    link(href="index.css" rel="stylesheet")

    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    <!--[if lt IE 9])
    script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
    script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
    <![endif]--)

    // Custom fonts from Google
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css')

  body

    // Navigation
    nav#siteNav.navbar.navbar-default.navbar-fixed-top(role="navigation")
      .container
        // Logo and responsive toggle
        .navbar-header
          button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="..")
            span
              img#snfx-logo(src="../assets/images/logo.png" alt="Sn0wFox logo")
              |  Sn0wFox
        // Navbar links
        .collapse.navbar-collapse#navbar
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href="#snfx-portfolio-header") Intro
            li
              a(href="#snfx-portfolio-current") Current
            li
              a(href="#snfx-portfolio-sbt") Older
            li
              a(href="#snfx-portfolio-student") Student
            li
              a(href="#snfx-portfolio-began") Where it began

    // Header
    header#snfx-portfolio-header
      .header-content
        .header-content-inner
          blockquote
            h2 All that coding stuff looks awesome !<br/>I should learn that.
            footer Younger me
          p And so did I...

    // Manmanga
    section.content#snfx-portfolio-current
      .container
        .row
          .col-sm-6
            img.img-responsive.img-circle.center-block(src="../assets/images/manmanga.jpg" alt="")
          .col-sm-6.text-center
            h2.section-header ManManga
            p.lead.text-muted.text-justify ManManga is a dedicated <strong>search engine</strong> for manga and anime.
              |  It uses the power of <strong>semantic web</strong> to retrieve relevant content.
              | In the future, the goal is not only to retrieve manga, anime or characters
              | by keywords, but also to
              em  infer
              |  and find related content, thanks to similarity matrices and semantic web.
            a.btn.btn-primary.btn-lg(href="https://github.com/Sn0wFox/manmanga", target="_blank")
              span.glyphicon.icon-github(aria-hidden="true")
              |  GitHub
          .col-sm-12
            p.lead.text-muted.text-center.complementary-text As my most recent work,
              |  ManManga is still in development. This means that it's not deployed anywhere
              | at the moment. However, I plan to deploy some alpha releases in a not so far future.
              | if you're interested in, stay tuned!
            p.lead.text-muted.text-center ManManga is built using
              strong  Node.js, Typescript, Gulp, Angular2, Materialize, Pug, Sass, Webpack, Jasmine, Karma, Travis CI
              |  and some other cool Node packages. In a future release, it will also relies on some&nbsp;
              a(href="https://github.com/Sn0wFox/indexden-client", target="_blank") other projects of mine
              |  to avoid relying on Google.

    // SBT internship
    section.content.content-2#snfx-portfolio-sbt
      .container
        .row
          .col-sm-6.text-center
            h2.section-header My last Summer Internship
            p.lead.text-light.text-justify In summer 2016, I worked as an intern at&nbsp;
              a(href="http://www.sbt.fr/", target="_blank")
                strong SBT
                  sup &reg;
              |  in France as a
              strong  Web Developper
              | . As part of a great team, I had two missions:
            #accordion.panel-group(role='tablist', aria-multiselectable='true')
              .panel.panel-default
                #snfx-small-one.panel-heading(role='tab')
                  h4.panel-title
                    a(role='button', data-toggle='collapse', data-parent='#accordion', href='#snfx-collapse-one', aria-expanded='false', aria-controls='snfx-collapse-one')
                      | The side one
                #snfx-collapse-one.panel-collapse.collapse(role='tabpanel', aria-labelledby='snfx-small-one')
                  .panel-body
                    h3 Banking company website
                    p.text-justify First I developed a simple
                      strong
                        em  gamified
                      |  website for a banking company - using Materialize.css and a small MySql database -
                      | to help costumers to find some resources.
                      | I then deployed it in production under a Node.js server.
                      br
                      | The website is currently tested on 10.000 people.
                      br
                    a.btn.btn-primary.btn-lg.complementary-text(href="http://natixisinterepargne-silvousplay.symetrix.fr/" target="_blank") View my work
              .panel.panel-default
                #snfx-big-one.panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#snfx-collapse-two', aria-expanded='false', aria-controls='snfx-collapse-two')
                      | The main one
                #snfx-collapse-two.panel-collapse.collapse(role='tabpanel', aria-labelledby='snfx-big-one')
                  .panel-body
                    h3 Management platform
                    p.text-justify My biggest task was to develop the&nbsp;
                      abbr.initialism(title="Proof of Concept") POC
                      |  of an
                      strong  extremely modular
                      |  web platform, dedicated to team management.
                      | I had to integrate several
                      strong  third party web services (using REST APIs)
                      |  such as LinkedIn, Moodle, YouTube and an Elastic Search server.
                      | I used Angular2 (beta) framework for the front-side
                      | as well as a MySQL server and a Node.JS server as backend,
                      | and deployed it.
                    p.text-justify I also had the occasion to
                      strong  configure and deploy a CAS server
                      |  by myself - although supported by the network administrator -
                      | which is something i'm really proud about.
                    p.text-justify Unfortunately, this is a private work of the company I worked for,
                      |  so I can not provide the source code nor a screenshot of the result.
          .col-sm-6
            img.img-responsive.img-circle.center-block(src="../assets/images/internship.jpg" alt="")

    // This website
    section.content#snfx-portfolio-snfx
      .container
        .row
          .col-sm-6
            img.img-responsive.img-circle.center-block(src="../assets/images/this.jpg" alt="")
          .col-sm-6.text-center
            h2.section-header This web site
            p.lead.text-muted.text-justify Because hey, I'm proud of the result !
              |  I've built this website to show off my skills in more friendly way
              | than through a resume, and because I wanted to see what I was able to do using Bootstrap.
              | Indeed, all of this website was built using
              strong  Bootstrap and jQuery
              | , as well as
              strong  Typescript, Pug and Sass
              |  to provide a modern web development environment. It's deployed on my own server
              | (well, I rent it) using Node.Js. If you read my other projects, you should have concluded
              | that I really love Node, which is true.
            p.lead.text-muted.text-justify I have open-sourced the code too, so if you're interested to see it,
              |  just click on the following button.
            a.btn.btn-primary.btn-lg(href="https://github.com/Sn0wFox/sn0wfox.net", target="_blank")
              span.glyphicon.icon-github(aria-hidden="true")
              |  GitHub

    // Promos
    .container-fluid#snfx-portfolio-student
      .row.promo
        a(href="#")
          .col-md-4.promo-item.item-1
            h3 Unleash
        a(href="#")
          .col-md-4.promo-item.item-2
            h3 Synergize
        a(href="#")
          .col-md-4.promo-item.item-3
            h3 Procrastinate

    // Content 3
    section.content.content-3#snfx-portfolio-began
      .container
        h2.section-header
          span.glyphicon.glyphicon-pushpin.text-primary
          br
          | Sanity Check
        p.lead.text-muted Holisticly predominate extensible testing procedures for reliable supply chains. Dynamically innovate resource-leveling customer service for state of the art customer service.
        a.btn.btn-primary.btn-lg(href="#") Check Now

    // Scripts
    // Jquery
    script(src="../assets/js/jquery-1.11.3.min.js")

    // Bootstrap Core JavaScript
    script(src="../assets/js/bootstrap.min.js")

    // Plugin JavaScript
    script(src="../assets/js/jquery.easing.min.js")

    // Custom Javascript
    script(src="main.bundle.js")