@import '../common/_common';


// HEADER
header {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.25)
  ), url('../../assets/images/sn0w.jpg');
}

blockquote {
  padding: 6px 16px;
  border: none;
  quotes: "\201C" "\201D";
  display: inline-block;
  position: relative;
}

blockquote:before {
  font-family: Georgia, "Times New Roman", Times, serif;
  content: open-quote;
  font-weight: bold;
  position: absolute;
  font-size: 80px;
  top: -25px;
  left: -25px;
}

blockquote:after {
  font-family: Georgia, "Times New Roman", Times, serif;
  content: close-quote;
  font-weight: bold;
  position: absolute;
  font-size: 80px;
  bottom: -50px;
  right: -25px;
}

blockquote footer {
  color: $secondary-txt-color;
}


// MANMANGA
#snfx-portfolio-current {
  background-image: linear-gradient(
    rgba(245, 245, 245, 0.7),
    rgba(245, 245, 245, 0.7)
  ), url('../../assets/images/sn0w2.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#snfx-portfolio-current p {
  color: $primary-txt-color-dark;
}

#snfx-portfolio-current a {
  font-weight: 400;
}


// SBT INTERNSHIP
#snfx-portfolio-sbt {
  background-color: $primary-color;
  color: $secondary-txt-color;
}

#snfx-portfolio-sbt .panel-collapse{
  background-color: transparent;
}


// THIS WEBSITE
#snfx-portfolio-snfx {
  background-image: linear-gradient(
    rgba(10, 10, 10, 0.1),
    rgba(10, 10, 10, 0.1)
  ), url('../../assets/images/sn0w4.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: $secondary-txt-color;
}

#snfx-portfolio-snfx p {
  color: $primary-txt-color;
}


// LRC
#snfx-portfolio-lrc {
  padding: 100px 0 0 0;
  color: $primary-txt-color-dark;
}

#snfx-imagepreview {
  width: 100%;
}

.promo,
.promo h3,
.promo a:link,
.promo a:visited,
.promo a:hover,
.promo a:active {
  color: $secondary-txt-color;
  text-shadow: 0px 0px 40px $secondary-txt-color-dark;
  text-decoration: none;
}

.promo-item {
  height: 200px;
  line-height: 180px;
  text-align: center;
}

.promo-item:hover {
  background-size: 110%;
  border: 10px solid rgba(255,255,255,0.3);
  line-height: 160px;
}

.promo-item h3 {
  font-size: 40px;
  display: inline-block;
  vertical-align: middle;
}

.item-1 {
  background: url('../../assets/images/lrc0.jpg');
}

.item-2 {
  background: url('../../assets/images/lrc1.jpg');
}

.item-3 {
  background: url('../../assets/images/lrc2.jpg');
}

.item-1,
.item-2,
.item-3 {
  background-size: cover;
  background-position: 50% 50%;
}


// STUDENT WORK
#snfx-portfolio-student {
  background-color: $primary-color;
  color: $primary-txt-color;
}

#snfx-portfolio-student p {
  color: $primary-txt-color;
}


// OTHER
#snfx-portfolio-other {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  ), url('../../assets/images/sn0w5.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: $primary-txt-color-dark;
}

#snfx-portfolio-other p.lead {
  font-weight: 400;
}

@media(min-width: $min-size) {
  #snfx-portfolio-other {
    min-height: 100%;
  }
}