$primary-color: #2965B7;
$primary-color-darken: #134090;

$accent-color: #ff9800;
$accent-color-darken: #e65100;

$primary-txt-color: rgba(245, 245, 245, 0.9);
$secondary-txt-color: rgba(245, 245, 245, 1);
$primary-txt-color-dark: rgba(10, 10, 10, 0.9);
$secondary-txt-color-dark: rgba(10, 10, 10, 1);

$title-margin: 20px;
$p-margin: 50px;
$p-margin-small: 35px;

// GLOBAL BEHAVIOR
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

a {
  color: $accent-color;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

a:hover,
a:focus {
  color: $accent-color-darken;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.section-heading {
  margin-top: 0;
  margin-bottom: $title-margin;
}

.content {
  padding: 100px 0;
}

.wrapper {
  height: 100%;
}

#snfx-logo {
  max-width:100%;
  max-height:100%;
}


// NAVBAR
.navbar-default {
  border-color: rgba(34,34,34,.05);
  background-color: $secondary-txt-color;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
  color: $accent-color;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: $accent-color-darken;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
  color: $secondary-txt-color-dark;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
  color: $accent-color;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
  color: $accent-color!important;
  background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
  background-color: transparent;
}

@media(min-width:768px) {
  .navbar-default {
    border-color: rgba(255,255,255,.3);
    background-color: transparent;
  }

  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255,255,255,.7);
    letter-spacing: 0.5em;
  }

  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: $secondary-txt-color;
  }

  .navbar-default .nav > li>a,
  .navbar-default .nav>li>a:focus {
    color: rgba(255,255,255,.7);
  }

  .navbar-default .nav > li>a:hover,
  .navbar-default .nav>li>a:focus:hover {
    color: $secondary-txt-color;
  }

  .navbar-default.affix {
    border-color: $secondary-txt-color;
    background-color: $secondary-txt-color;
    box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.1);
  }

  .navbar-default.affix .navbar-header .navbar-brand {
    letter-spacing: 0;
    color: $accent-color;
  }

  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: $accent-color-darken;
  }

  .navbar-default.affix .nav > li>a,
  .navbar-default.affix .nav>li>a:focus {
    color: $secondary-txt-color-dark;
  }

  .navbar-default.affix .nav > li>a:hover,
  .navbar-default.affix .nav>li>a:focus:hover {
    color: $accent-color;
  }
}


// HEADER
header {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: $primary-txt-color;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.25)
  ), url('../images/sn0w.jpg');
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header .header-content {
  position: relative;
  width: 100%;
  padding: 100px 15px 70px;
  text-align: center;
}

header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: $title-margin;
  font-size: 50px;
  font-weight: 300;
}

header .header-content .header-content-inner p {
  margin-bottom: $p-margin;
  font-size: 16px;
  font-weight: 300;
  color: $secondary-txt-color;
}

// NOTE:  @media is not dynamic, i.e. the default expected behavior
//        (here for small screens) must be placed BEFORE or will be overwritten.
@media(min-width:768px) {
  header {
    min-height: 100%;
  }

  header .header-content {
    position: absolute;
    top: 50%;
    padding: 0 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  header .header-content .header-content-inner {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
  }

  header .header-content .header-content-inner h1 {
    font-size: 100px;
  }

  header .header-content .header-content-inner p {
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    font-size: 18px;
  }
}
